body, .body {
    min-height: 800px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-weight: bold;
    color: #5cb85c;
}

.navbar-inverse {
    border-bottom: none;
    background-color: #FF9900;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@font-face {
    font-family: 'wm-icons';
    src: url('../fonts/wm-icons.eot');
    src: url('../fonts/wm-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/wm-icons.woff') format('woff'), url('../fonts/wm-icons.ttf') format('truetype'), url('../fonts/wm-icons.svg#glyphicons-halflingsregular') format('svg');
}

#container-header {
    margin-left: 0;
}

.fa.fa-check-circle {
    font-size: 4em;
    color: #5ea20d;
    text-align: center;
    display: table;
    margin: 0 auto;
}

.leading-icon {
    font-size: 2em !important;
}

.navbar .content {
    padding: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.navbar-header {
    height: 109px;
}



.logo {
    background: url(../images/ReactCart.png);
    height: 111px;
    width: 250px;
    display: block;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    margin: 8px 0 0 19px;
}

.my-children-have-dividers > .row:first-child {
    border-top: none;
}

.my-children-have-dividers > .row {
    border-top: .5px solid #e0e0e0;
}

.fullwidth {
    width: 100%;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
        display: flex;
        align-items: center;
    }

.justify-left {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: flex-end;
}

.panel-heading .justify-left {
    padding: 0 25px 0 25px;
}

.panel-heading .justify-right {
    padding: 0 25px 0 25px;
}

.panel-footer .justify-right {
    padding: 0 25px 0 25px;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.33%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 964px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 964px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 964px;
    }
}

.btn-group input {
    width: 40px;
}

    .btn-group input[type=text] {
        border-color: #ccc;
        padding: 6px;
    }

    .btn-group input[type=button] {
        background-color: #ebebeb;
    }

.cart .panel-body {
    padding: 0 25px 0 25px;
}

    .cart .panel-body > .row {
        padding: 15px 0 15px 0;
    }

.pointer {
    cursor: pointer;
}

.footer-social-links {
    text-align: center;
}

    .footer-social-links .social-items {
        display: inline-block;
    }

    .footer-social-links .title {
        height: 20px;
        width: 200px;
        display: inline-block;
        color: transparent;
        padding: 0 0 20px 0;
    }

.codeproject-footer-logo {
    background: url('../Images/codeproject.png');
}

.footer-social-links .wm-icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 38px;
    margin: 0 8px;
    color: inherit;
}

.footer-wrapper .wm-icon-circle {
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #1a75ce;
    color: #1a75ce;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
}

.footer-social-links .wm-icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 38px;
    margin: 0 8px;
}

.wm-icon {
    font-family: wm-icons;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    padding: 0;
}

.icon-facebook:before {
    content: "\f133";
}

.icon-twitter:before {
    content: "\f155";
}

.icon-google-plus:before {
    content: "\f135";
}

.icon-instagram:before {
    content: "\f144";
}

.icon-youtube:before {
    content: "\f156";
}

.footer-institutional .footer-wrapper {
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    padding: 10px 0;
}

.footer-wrapper {
    width: 80%;
    min-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    display: table;
    color: #999;
}

.green {
    color: #5ea20d;
    font-size: 1em;
}

.remove {
    font-size: 10px;
    margin-right: .3em;
    color: #1a75ce;
    display: block;
}

a {
    color: #1A75CE;
    text-decoration: none;
}

    a:hover {
        color: #ff8000;
        text-decoration: none;
    }

.success-icon {
    background: url('../Images/Images.png');
    background-position: 0 -218px;
    height: 69px;
    width: 69px;
    resize: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gray {
    background-color: #ebebeb;
}

.border-right {
    border-right: 1px solid #c0c0c0;
}

.border-top {
    border-top: 1px solid #c0c0c0;
}

.border-bottom {
    border-bottom: 1px solid #c0c0c0;
}

.checkout-success {
    color: #666;
}

    .checkout-success .panel {
        border-radius: 0;
    }

    .checkout-success .panel-body {
        padding: 0 15px 0 15px;
    }

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.float-right {
    float: right;
}

.glyphicon {
    font-size: 24px;
    width: 30px;
}

.offset30 {
    padding-left: 30px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*LOADING*/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: #1a75ce 1.5em 0 0 0, #1a75ce 1.1em 1.1em 0 0, rgba(255, 200, 0, 0.75) 0 1.5em 0 0, #1a75ce -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #1a75ce 0 -1.5em 0 0, #1a75ce 1.1em -1.1em 0 0;
            box-shadow: #1a75ce 1.5em 0 0 0, #1a75ce 1.1em 1.1em 0 0, #1a75ce 0 1.5em 0 0, #1a75ce -1.1em 1.1em 0 0, #1a75ce -1.5em 0 0 0, #1a75ce -1.1em -1.1em 0 0, #1a75ce 0 -1.5em 0 0, #1a75ce 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*LOADING*/

/*NEWPRODUCT*/
.new-product {
    width: 964px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
}

input.currency {
    text-align: right;
    padding-right: 15px;
}

.input-group {
    text-align: right;
}
/*NEWPRODUCT*/


/*OVERLAY*/
.overlay {
    display: none;
    opacity: 1;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.loader {
    top: 50%;
    margin: auto auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #1a75ce;
    border-right: 1.1em solid #1a75ce;
    border-bottom: 1.1em solid #1a75ce;
    border-left: 1.1em solid #8ae5fe;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 .5s infinite linear;
    animation: load8 .5s infinite linear;
    z-index: 20;
}

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 5em;
        height: 5em;
    }

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*OVERLAY*/

/*PRODUCT CAROUSEL*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}

    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
    }

    .col-item .info {
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }

    .col-item:hover .info {
        background-color: #F5F5DC;
    }

    .col-item .price {
        float: left;
        margin-top: 5px;
    }

        .col-item .price h5 {
            margin: 0;
            width: 200px;
        }

.price-line {
    text-align: right;
    font-size: 1.5em;
}

.price-text-color {
    font-weight: bold;
    font-size: 1.5em;
    color: #f00;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

    .col-item .separator p i {
        margin-right: 5px;
    }

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}

.btn .fa {
    color: black;
}
/*PRODUCT CAROUSEL*/
